
<!-- Vista del componente raíz de la Single Page Application -->
<!------------------------------------------------------------->
<div class="container">
    <!-- Cabecera de la aplicación -->
    <div class="row">
        <div class="twelve columns">
            <header class="titulo-aplicacion">
                <a href="/"><h1>Whatapop</h1></a>
            </header>
        </div>
    </div>
    <div class="contenido-ventana">
            <!-- Zona dinámica -->
            <ng-outlet></ng-outlet>
    </div>
</div>
